# snmptrapd command line options
# OPTIONS="-Lsd -p /var/run/snmptrapd.pid"
# -n    Do not attempt to translate source addresses of incoming packets into hostnames
# -On   Displays the OID numerically
OPTIONS="-n -On"
