@version: 3.2
@include "scl.conf"

### Options
options {
    chain_hostnames(off);
    use_dns(no);
    use_fqdn(no);
};

### Sources
source s_network {
    udp(port(514));
};

### Destinations
destination d_netmanage { program("{{ app_root }}/Console/cake log" template("$HOST $MSG\n") ); };
destination d_file { file("/var/log/remote/netequip.log"); };

### Filters
filter f_netequip{
  {% set delim = joiner("or") %}
  {% for devices in netequip_subnets %}
    {{ delim() }} netmask("{{ devices }}")
  {% endfor %}
};

### Logging
log { source(s_network); filter(f_netequip); destination(d_file); };
log { source(s_network); filter(f_netequip); destination(d_netmanage); };
